.card-login{
    padding: 4rem 4rem;
    background: rgba(0,0,0, 0.3);
    border-radius: 20px;
}

.card-login h1{
    font-family: "Poppins", sans-serif;
    color: #fefedf;
    text-align: center;
    padding-bottom: 1rem;
}

.card-login .btn button{
    flex-direction: row;
    width: 100%;
    padding: 6px auto;
    background-color: rgba(0,0,0, 0.7);
    display: flex;
    margin: 0.8rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 4px;
    flex-wrap: wrap;
    color: #fefedf;
}

.card-login .btn button:hover{
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5px;
    gap: 1.3rem;
}

form input {
    padding: 4px 0;
    border-radius: 12px;
    background: transparent;
}

form input{
    border-bottom: 2px solid #fefdff;
}

:root{
    --primary-color: #5E7349;
    --secondary-color: #778C61;
    --light-bg: #BFBAB0;
    --orange-light: #BF7534;
    --orange-bold: #BF532C;

    --green-grad:  linear-gradient(to right top, #5e7349, #64794f, #6a7f55, #71865b, #778c61);

    --orange-grad:  linear-gradient(to right top, #bf7534, #bf6d31, #bf652e, #bf5c2d, #bf532c);
}

form .submit-btn {
    background-color: var(--orange-light);
    color: #fefedf;
    border-radius: 12px;
    padding: 4px 0;
    font-family: "Poppins", sans-serif;
}

form .submit-btn:hover{
    background-color: var(--orange-bold);
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1) ease-in;    
}

form .submit-btn:active{
    background-color: var(--orange-bold);
    transition: all.4s cubic-bezier(0.19, 1, 0.22, 1) ease-in;
}


